html, .bodyPrincipal
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display : inline-block;
}

.en_tete
{
	width: 100%;
	height: 12%;
	padding: 0;
	margin: 0;
	float: left;
	background-color: #3B5998;
	text-align: center;
	vertical-align: middle;
}


#textBienvenue
{
	font-size: 30px;
	color: white;
	
}

.contenu
{
	float: left;
	width: 98%;
	height: 100%;
	min-height: 94.4%;
	background: linear-gradient(white, #D3D8E8);
	padding-left: 2%;
}

.FinscriptionCnxBase
{
	height: auto;
	width: auto;
	margin: auto auto;
}

#textTitreInscCnx
{
	font-family: inherit;
	font-size: 36px;
	color: #333;	
}

#textTitreInscCnx2
{
	font-family: inherit;
	font-size: 19px;
	color: #333;	
}

#textTitreInscCnx, #textTitreInscCnx2
{
	margin-left: 1%;
}

#formInsc
{
	margin-top: -2%;
}

#inputNumeroMail, #inputNumeroMailConfirmation , #inputPassword
{	
	width: 100%;
}

#textDateDeNaissance
{
	font-size: 18px;
}

#tdPrenom input, #tdNom input, #tdNumeroMail input, #tdNumeroMailConfirmation input, #tdPassword input
{
	font-size: 18px;
	padding: 8px 10px;
	border-color: #bdc7d8;
    border-radius: 5px;
	margin: 0;
	background-color: transparent;
	background-color: white;
	font-family: inherit;
	border: 1px solid #bdc7d8;
}

select 
{
    font-size: 13px;
    height: 30px;
	padding: 5px;
	border: 1px solid #bdc7d8;
}

label
{
	font-size: 18px;
}


.boutonInsc
{
	font-size: 19px;
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
	text-rendering: optimizelegibility;
	line-height: 126%;
	min-width: 194px;
    padding: 7px 20px;
	text-align: center;
	
	background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115;
	
	border: 1px solid #2c5115;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	
	margin-top: 10px;
    margin-bottom: 10px;
}

.boutonInsc:hover
{
	background: linear-gradient(#79bc64, #578843);
}

#reponseBtn
{
	font-size: 19px;
	color: red;
}




/* Partie de mise en forme concernant l'en-tête de la page (partie en bleu tout en haut) */
#formCnx
{
	vertical-align: auto;
}

#tabConnexion
{
	border-collapse: separate;
	border-spacing: 2px;
}

#labelLoginCnx, #labelMdpCnx
{
	color: white;
	font-size: 15px;
}

#tdLoginCnx input, #tdPwdCnx input
{
	font-size: 18px;
	padding: 5px 7px;
	border-color: #bdc7d8;
	margin: 0;
	background-color: transparent;
	background-color: white;
	font-family: inherit;
	border: 1px solid #bdc7d8;
}

.boutonCnx
{
	color: #fff;

	background: none;
    border: 1 solid black;
    cursor: pointer;
    
    font-size: 12px;
    margin: 1;
    /* padding: 0; */
	
	text-align: center;

	-webkit-appearance: push-button;
	
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font: 400 13.3333px Arial;
}

